// Color Variables

$primary-color: #272727;
$accent-orange: #ff652f;
$accent-blue: #b2c7f5;
$text-color: #fff;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

// Nav component

@mixin navtheme {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav {
  @include navtheme;
  position: relative;
  overflow: hidden;
  background-color: #d6d6d6;
}

li {
  display: inline;
}

.nav-item {
  @include navtheme;
  color: $primary-color;
}

.nav-item:hover {
  @include navtheme;
  color: $accent-orange;
  transition: 0.2s ease-in-out;
}

.nav-right {
  float: right;
  padding: 1rem;
}

.nav-left {
  float: left;
  padding: 1rem;
}

a {
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 40%;
}

a:hover {
  color: $accent-orange;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 40%;
  transition: text-decoration 0.5s ease-in-out;
}

// Content component 

.home-header {
  text-align: center;
}

.avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
}

.content {
  width: 50rem;
  max-width: 100vw;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0 auto;
}

p {
  line-height: 2;
}

// Project cards

@mixin card {
  border: solid black 2px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-card {
  @include card;
}

.thumbnail {
  float: left;
  max-width: 60%;
  max-height: 60%;
}

.title {
  float: right;
  font-style: italic;
}



// Footer

footer {
  bottom: 0;
  text-align: center;
  background-color: #d6d6d6;
  padding: 1rem;
}